/*variables*/
$primary: #014e9d;
$secondary: #535353;
$errorStatus: #e12130;
/*variables*/

.form-container {
  max-width: 768px;
  position: relative;
  margin: 25px auto;
  background: url('../images/texture.png') -10px repeat;
  box-shadow: 0px 0px 128px 0px #4a4a4a9c;
  border: 1px solid #ffffff;
  overflow: hidden;
  padding: 30px;
  border-radius: 10px;
  animation-name: slide-animate-top;
  animation-duration: 1s;
  animation-timing-function: ease-in-out;
  &:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(226, 226, 226, 0.5);
  }

  h1 {
    font-size: 21px;
    position: relative;
    z-index: 1;
  }
  label {
    margin-bottom: 5px;
    color: rgb(82, 81, 81);
    font-size: 14px;
  }
  input,
  select,
  button {
    outline-color: #aaaaaa;
    font-size: 14px;
    height: 30px;
    color: $secondary;
    display: block;
    margin-top: 5px;
  }
  input:focus,
  select:focus,
  button:focus {
    box-shadow: 0px 0px 10px 0px #b6b6b657;
  }

  input,
  select {
    padding-left: 7px;
    border: 1px solid #d1d1d1;
    background-color: white;
  }
  .check-content {
    padding-left: 20px;
    position: relative;
    input[type='checkbox'] {
      border: 1px solid #d1d1d1;
      background-color: white;
      position: absolute;
      bottom: 3px;
      left: 0px;
      padding: 0;
      height: auto;
      cursor: pointer;
    }
  }
  .form-error {
    input,
    select {
      border: 1px solid $errorStatus;
      background-color: #fbe7e7;
      margin-top: 3px;
    }
    label {
      color: $errorStatus;
    }
  }
  button {
    padding: 10px;
    color: #fff;
    height: auto;
    width: 100%;
    &.button-secondary {
      background-color: $secondary;
    }
    &.button-primary {
      background-color: $primary;
    }
    &:active {
      opacity: 0.7;
    }
    &:hover {
      box-shadow: 0px 0px 15px 0px #cacaca;
    }
  }
  span {
    color: $errorStatus;
    font-size: 12px;
    z-index: 1;
    position: relative;
    &.error {
      background-color: #fbe7e7;
      border: solid 1px $errorStatus;
      border-radius: 10px;
      margin-right: 7px;
      display: inline-block;
      margin-top: 6px;
      padding: 0 8px;
      font-size: 11px;
    }
  }
  .form-content-success {
    animation-name: slide-animate-top;
    animation-duration: 1s;
    animation-timing-function: ease-in-out;
    position: relative;
    img {
      width: 30px;
      margin: 10px auto 0 auto;
    }
    h2 {
      &.form-success {
        text-align: center;
        font-size: 22px;
      }
    }
    
  }
  .form-error{
      color:$errorStatus;
      font-weight: bold;
  }
  @keyframes slide-animate-top {
    from {
      opacity: 0;
      top: 15px;
    }
    to {
      opacity: 1;
      top: 0px;
    }
  }
}
